body {
    background-color: #000000;
}

#wrapper {
    margin: 0 auto;
}

#header {
    width: 1020px;
    height: 90px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;
}

h1 {
    font-size: 24px;
    line-height: 6px;
    letter-spacing: 0.3px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    padding-left: 40px;
    padding-top: 41px;
}

h1 snap {
    color: red;
    font-weight: 500;
    padding-right: 5px;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 385px;
    align-items: center;
    position: relative;
    left: 602px;
}

.menu snap {
    color: #494e62;
    font-weight: 900;
    position: relative;
    bottom: 9px;
}

.menu a:first-child {
    color: #f06c64;
}

.menu a {
    font-size: 11.7px;
    line-height: 6px;
    color: white;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.2px;
    position: relative;
    bottom: 6px;
}

.menu a:hover {
    font-size: 13px;
    animation-name: menu;
    animation-duration: 1s;
}

#slider {
    width: 1020px;
    height: 595px;
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b;
}

#slider a:hover {
    background-color: #f06c64;
    z-index: 2;
    animation-name: hover;
    animation-duration: 2s;
}

#slider a:first-child {
    margin-left: 42px;
    position: absolute;
    bottom: 251px;
}

 #vertical {
    position: absolute;
    left: 110px;
    top: 147px;
    z-index: 1;
}

#verticalScreen {
    position: absolute;
    left: 122px;
    top: 209px;
    z-index: 2;
}

#horizontal {
    position: absolute;
    left: 424px;
    bottom: 148px;
    z-index: 3;
}

#horizontalScreen {
    position: absolute;
    left: 482px;
    top: 280px;
    z-index: 4;
}

#slider a:last-child {
    position: absolute;
    bottom: 251px;
    left: 964px;
}

#footer {
    width: 1020px;
    height: 495px;
    background-color: #f2f2f2;
    border-bottom: 5px solid white;
}

#footer--service {
    display: flex;
    flex-direction: row;
}

#first--col {
    flex-direction: column;
}

#middle--col {
    flex-direction: column;
}

#right--col {
    flex-direction: column;
}

#service {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    font-weight: 900;
    text-align: left;
    margin-left: 40px;
    padding-top: 68px;
}

#service--text {
    width: 960px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    padding-left: 40px;
    padding-top: 27px;
    letter-spacing: 0.15px;
}

#pen {
    margin-left: 40px;
    padding-top: 49px;
    width: 62px;
    height: 61px;
}

.footer--block {
    display: flex;
    flex-direction: row;
}

.footer--block-text{
    flex-direction: column;
}

#pen--design {
    padding-left: 18px;
    padding-top: 48px;
}

.footer--block-text p:first-child {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    font-weight: 900;
    text-align: left;
}

.footer--block-text p:last-child {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-b";
    font-weight: 400;
    text-align: justify;
    padding-top: 10px;
}

#resp {
    margin-left: 40px;
    width: 62px;
    height: 61px;
    position: relative;
    bottom: 32px;
}

#resp--design {
    padding-left: 18px;
    position: relative;
    bottom: 33px;
}

#inov {
    margin-left: 20px;
    padding-top: 49px;
    width: 61px;
    height: 61px;
}

#inov--design {
    padding-left: 18px;
    padding-top: 48px;
}

#supp {
    margin-left: 20px;
    width: 61px;
    height: 61px;
    position: relative;
    bottom: 32px;
}

#supp--design {
    padding-left: 18px;
    position: relative;
    bottom: 33px;
}

#love {
    margin-left: 22px;
    padding-top: 49px;
    width: 62px;
    height: 61px;
}

#love--design {
    padding-left: 18px;
    padding-top: 48px;
}

#feel {
    margin-left: 22px;
    width: 62px;
    height: 61px;
    position: relative;
    bottom: 32px;
}

#feel--design {
    padding-left: 18px;
    position: relative;
    bottom: 33px;
}

#inov--design p:first-child {
    position: relative;
    left: 1px;
}

#supp--design p:first-child {
    position: relative;
    left: 1px;
}

#love--design p:first-child {
    position: relative;
    left: 2px;
}

#feel--design p:first-child {
    position: relative;
    left: 2px;
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    src: url(./assets/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato-b";
    font-style: normal;
    font-weight: normal;
    src: url(./assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: "Lato-bold";
    font-style: normal;
    font-weight: normal;
    src: url(./assets/fonts/Lato-Black.ttf);
}

@keyframes hover {
    from {background-color: #f06c64;}
    to {background-color: rgb(245, 238, 238);}
  }

  @keyframes menu {
    from {font-size: 11.7px;}
    to {font-size: 13px;}
  }