body {
    background-color: #000000;
}

#wrapper {
    margin: 0 auto;
}

#header {
    width: 1020px;
    height: 90px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;
}

h1 {
    font-size: 24px;
    line-height: 6px;
    letter-spacing: 0.3px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: justify;
    padding-left: 40px;
    padding-top: 40px;
}

#snap {
    color: #f06c64;
    font-weight: 500;
    padding-right: 5px;
    font-family: "Lato-b";
    font-size: 25px;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 385px;
    align-items: center;
    position: relative;
    left: 602px;
    bottom: 1px;
}

.point {
    color: #494e62;
    font-weight: 900;
    position: relative;
    bottom: 9px;
}

#home {
    color: #f06c64;
}

.menu--buttons {
    font-size: 11.7px;
    line-height: 6px;
    color: white;
    font-family: "Lato";
    font-weight: 700;
    text-align: justify;
    text-decoration: none;
    letter-spacing: 0.2px;
    position: relative;
    bottom: 6px;
}

.menu--buttons:hover {
    font-size: 13px;
    animation-name: menu;
    animation-duration: 1s;
}

#slider {
    width: 1020px;
    height: 595px;
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b;
}

#slider a:hover {
    background-color: #f06c64;
    z-index: 2;
    animation-name: hover;
    animation-duration: 2s;
}

#slider a:first-child {
    margin-left: 42px;
    position: absolute;
    bottom: 251px;
}

 #vertical {
    position: absolute;
    left: 110px;
    top: 147px;
    z-index: 1;
}

#verticalScreen {
    position: absolute;
    left: 122px;
    top: 209px;
    z-index: 2;
}

#verticalScreen2 {
    width: 190px;
    height: 333px;
    position: absolute;
    left: 385px;
    top: 213px;
    z-index: 4;
    display: none;
}

#horizontal {
    position: absolute;
    left: 424px;
    bottom: 148px;
    z-index: 3;
}

#horizontalScreen {
    position: absolute;
    left: 482px;
    top: 280px;
    z-index: 4;
}

#horizontalScreen2 {
    position: absolute;
    left: 308px;
    top: 280px;
    z-index: 2;
    display: none;
}

#slider a:last-child {
    position: absolute;
    bottom: 251px;
    left: 964px;
}

#ourService {
    width: 1020px;
    height: 495px;
    background-color: #f2f2f2;
    border-bottom: 5px solid white;
}

#ourService--service {
    display: flex;
    flex-direction: row;
}

#first--col {
    flex-direction: column;
}

#middle--col {
    flex-direction: column;
}

#right--col {
    flex-direction: column;
}

#service {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    font-weight: 900;
    text-align: justify;
    margin-left: 40px;
    padding-top: 68px;
}

#service--text {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    padding-left: 40px;
    padding-top: 27px;
    letter-spacing: 0.15px;
}

#pen {
    margin-left: 40px;
    padding-top: 49px;
    width: 62px;
    height: 61px;
}

.ourService--block {
    display: flex;
    flex-direction: row;
}

.ourService--block-text{
    flex-direction: column;
}

#pen--design {
    padding-left: 18px;
    padding-top: 48px;
}

.ourService--block-text p:first-child {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    font-weight: 900;
    text-align: justify;
}

.ourService--block-text p:last-child {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-b";
    font-weight: 400;
    text-align: justify;
    padding-top: 10px;
}

#resp {
    margin-left: 40px;
    width: 62px;
    height: 61px;
    position: relative;
    bottom: 32px;
}

#resp--design {
    padding-left: 18px;
    position: relative;
    bottom: 33px;
}

#inov {
    margin-left: 20px;
    padding-top: 49px;
    width: 61px;
    height: 61px;
}

#inov--design {
    padding-left: 18px;
    padding-top: 48px;
}

#supp {
    margin-left: 20px;
    width: 61px;
    height: 61px;
    position: relative;
    bottom: 32px;
}

#supp--design {
    padding-left: 18px;
    position: relative;
    bottom: 33px;
}

#love {
    margin-left: 22px;
    padding-top: 49px;
    width: 62px;
    height: 61px;
}

#love--design {
    padding-left: 18px;
    padding-top: 48px;
}

#feel {
    margin-left: 22px;
    width: 62px;
    height: 61px;
    position: relative;
    bottom: 32px;
}

#feel--design {
    padding-left: 18px;
    position: relative;
    bottom: 33px;
}

#inov--design p:first-child {
    position: relative;
    left: 1px;
}

#supp--design p:first-child {
    position: relative;
    left: 1px;
}

#love--design p:first-child {
    position: relative;
    left: 2px;
}

#feel--design p:first-child {
    position: relative;
    left: 2px;
}

#portfolio {
    width: 1020px;
    height: 864px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;
}

#title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    font-weight: 900;
    text-align: justify;
    padding-left: 40px;
    padding-top: 68px;
}

#portfolio p {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    padding-left: 40px;
    padding-top: 27px;
}

#navigation-line {
   display: flex;
   flex-direction: row;
   margin-left: 41px;
   position: relative;
   bottom: 16px;
}

#navigation-line a:first-child {
    width: 27px;
    height: 20px;
    color: #dedede;
    border: 1px solid #c5c5c5;
}

#navigation-line a:last-child {
    width: 55px;
}

#navigation-line a:nth-child(2) {
    width: 76px;
}

#navigation-line a:nth-child(3) {
    width: 91px;
}

#navigation-line a {
    height: 20px;
    font-size: 11.8px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-b";
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    margin-right: 10px;
}

#navigation-line a:hover {
    background-color: #141518;
}

.images-line {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.images-line img {
    width: 220px;
    height: 187px;
    margin-top: 3px;;
    margin-right: 20px;
    margin-bottom: 17px;
}

#aboutUs {
    width: 1020px;
    height: 729px;
    background-color: #f2f2f2;
    border-bottom: 5px solid #ffffff;
}

h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    font-weight: 900;
    text-align: justify;
    padding-left: 40px;
    padding-top: 68px;
}

#aboutUs p {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    padding-left: 40px;
    padding-top: 27px;
}

#members {
    display: flex;
    flex-direction: row;
    margin-left: 38px;
    margin-top: 47px;
}

.member {
    margin-right: 16px;
}

h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    font-weight: 900;
    text-align: justify;
    margin-top: 12px;
    margin-left: 1px;
}

#desmondH {
    position: relative;
    bottom: 1px;
}

#desmondP {
    width: 302px;
    position: relative;
    bottom: 1px;
}

#scolaraH {
    position: relative;
    bottom: 1px;
    right: 1px;
}

#scolaraP {
    width: 302px;
    position: relative;
    bottom: 1px;
}

.information {
    width: 302px;
    height: 65px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-b";
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
    margin-left: 1px;
}

#desmond {
    position: relative;
    right: 1px;
}

.social {
    margin-left: 2px;
}

.social a {
    margin-right: 2px;
}

#desmondA {
    position: relative;
    bottom: 1px;
    right: 1px;
}

#scolaraA {
    position: relative;
    bottom: 1px;
    right: 2px;
}

#form {
    width: 1020px;
    height: 649px;
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b;
}

#get {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato-bold";
    font-weight: 900;
    text-align: justify;
    margin-left:40px;
    padding-top: 68px;

}

#form p {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin-left: 40px;
    padding-top: 27px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 31px;
}

#form--input {
    display: flex;
    flex-direction: row;
}

.formText {
    width: 604px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #d6564f;
    background-color: #d6564f;
    margin-left: 40px;
    margin-top: 16px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato-b";
    font-weight: 400;
    text-align: justify;
    opacity: 1; 
    padding-left: 13px;
}

#formComments {
    width: 604px;
    height: 198px;
    border-radius: 5px;
    border: 1px solid #d6564f;
    background-color: #d6564f;
    margin-left: 40px;
    margin-top: 16px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato-b";
    font-weight: 400;
    text-align: justify;
    opacity: 1; 
    padding-left: 13px;
}

::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato-b";
    font-weight: 400;
    text-align: justify;
    opacity: 1; 
    position: relative;
    bottom: 1px;
  }

  #formComments::placeholder {
    position: relative;
    bottom: 84px;
  }

  #contact {
      margin-left: 20px;
      margin-top: 1px;
  }

  #contactInfo {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato-b";
    font-weight: 900;
    text-align: justify;
    margin-top: 46px;
    margin-left: 1px;
  }

  #contact p, .contacts {
    width: 300px;
    height: 108px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-left: 0px;
    padding-top: 10px;
  }

  .contacts {
      position: relative;
      left: 8px;
      line-height: 21px;
  }

  #location {
    padding-left: 4px;
    position: relative;
    left: 0px;
    top: 1px;
  }

  #phoneNumb {
    position: relative;
    left: 2px;
    top: 1px;
  }

  #mail {
    position: relative;
    left: 1px;
    top: 2px;
  }

  #mailText {
    position: relative;
    left: 7px;
    top: 1px;
  }

  #footer {
    width: 1020px;
    height: 78px;
    background-color: #2d303a;
    display: flex;
    flex-direction: row;
  }

  #footer--icon {
    margin-left: 42px;
    padding-top: 31px;
  }

  #social {
    padding-top: 21px;
    position: relative;
    left: 693px;
  }

  #social a {
    margin-right: 2px;
  }

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    src: url(./assets/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato-b";
    font-style: normal;
    font-weight: normal;
    src: url(./assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: "Lato-bold";
    font-style: normal;
    font-weight: normal;
    src: url(./assets/fonts/Lato-Black.ttf);
}

@keyframes hover {
    from {background-color: #f06c64;}
    to {background-color: rgb(245, 238, 238);}
  }

  @keyframes menu {
    from {font-size: 11.7px;}
    to {font-size: 13px;}
  }