body, html {
    background-color: #000000;
    scroll-behavior: smooth;
}

#wrapper {
    width: 100%;
    max-width: 1020px;
    display: block;
    margin: 0 auto;
}

#header {
    max-width: 1020px;
    height: 90px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 5;
}

h1 {
    font-size: 24px;
    line-height: 6px;
    letter-spacing: 0.3px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: justify;
    padding-left: 40px;
    padding-top: 40px;
}

#snap {
    color: #f06c64;
    font-weight: 500;
    padding-right: 5px;
    font-family: "Lato-b";
    font-size: 25px;
}

#menu-button {
    display: none;
}

.hidden {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 385px;
    align-items: center;
    position: relative;
    left: 285px;
    bottom: 1px;
}

.active {
    color: #f06c64;
}

header a {
    font-size: 11.7px;
    line-height: 6px;
    color: white;
    font-family: "Lato";
    font-weight: 700;
    text-align: justify;
    text-decoration: none;
    letter-spacing: 0.2px;
    position: relative;
    bottom: 6px;
}

.menu a:hover {
    font-size: 13px;
    animation-name: menu;
    animation-duration: 1s;
}

.point {
    color: #494e62;
    font-weight: 900;
    position: relative;
    bottom: 9px;
}

#slider {
    padding-top: 90px;
    width: 1020px;
    height: 595px;
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b;
}

#slider a:hover {
    width: 30px;
    height: 30px;
    background-color: #f06c64;
    animation-name: hover;
    animation-duration: 2s;
}

#sliderLeft {
    margin: auto;
    position: absolute;
    top: 376px;
    left: 0;
    right: 920px;
    z-index: 5;
}

#phone-block {
    width: 850px;
    height: 400px;
}

 #vertical {
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    position: absolute;
    left: 0;
    right: 50%;
    top: 100px;
    bottom: 0;
    z-index: 1;

}

#verticalScreen {
    margin: auto;
    margin-top: 131px;
    margin-bottom: 131px;
    position: absolute;
    left: 0;
    right: 52%;
    top: 100px;
    bottom: 0;
    z-index: 2;
}

#verticalScreen2 {
    width: 190px;
    height: 333px;
    margin: auto;
    margin-top: 136px;
    margin-bottom: 136px;
    position: absolute;
    left: 0;
    right: 1%;
    top: 100px;
    z-index: 4;
    display: none;
}

#horizontal {
    margin: auto;
    margin-top: 170px;
    margin-bottom: 170px;
    position: absolute;
    left: 40%;
    top: 100px;
    right: 0;
    bottom: 0;
    z-index: 3;
}

#horizontalScreen {
    margin: auto;
    margin-top: 183px;
    margin-bottom: 183px;
    position: absolute;
    left: 38%;
    top: 100px;
    right: 0%;
    bottom: 0;
    z-index: 4;
}

#horizontalScreen2 {
    margin: auto;
    margin-top: 183px;
    margin-bottom: 183px;
    position: absolute;
    left: 0%;
    top: 100px;
    right: 3%;
    bottom: 0;
    z-index: 2;
    display: none;
}

#sliderRight {
    margin: auto;
    position: absolute;
    top: 376px;
    left: 923px;
    right: 0;
    z-index: 5;
}

#ourService {
    width: 1020px;
    height: 495px;
    background-color: #f2f2f2;
    border-bottom: 5px solid white;
    display: flex;
    flex-direction: column;
}

#ourService--service {
    width: 980px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 53px;
}

#service {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    font-weight: 900;
    text-align: justify;
    margin-left: 40px;
    padding-top: 68px;
}

#service--text {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    padding-left: 40px;
    padding-top: 27px;
    letter-spacing: 0.15px;
}

#pen {
    width: 62px;
    height: 61px;
}

.ourService--block {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    height: 124px;
}

.ourService--block-text{
    flex-direction: column;
    margin-left: 19px;
}

.ourService--block-text p:first-child {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    font-weight: 900;
    text-align: justify;
}

.ourService--block-text p:last-child {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-b";
    font-weight: 400;
    text-align: justify;
    padding-top: 10px;
}

#resp {
    width: 62px;
    height: 61px;
}

#inov {
    width: 61px;
    height: 61px;
}

#supp {
    width: 61px;
    height: 61px;
}

#love {
    width: 62px;
    height: 61px;
}

#feel {
    width: 62px;
    height: 61px;
}

#inov--design p:first-child {
    position: relative;
    left: 1px;
}

#supp--design p:first-child {
    position: relative;
    left: 1px;
}

#love--design p:first-child {
    position: relative;
    left: 2px;
}

#feel--design p:first-child {
    position: relative;
    left: 2px;
}

#portfolio {
    width: 1020px;
    height: 864px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;
    overflow: hidden;
}

#title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    font-weight: 900;
    text-align: justify;
    padding-left: 40px;
    padding-top: 68px;
}

#portfolio p {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    padding-left: 40px;
    padding-top: 27px;
}

#navigation-line {
   display: flex;
   flex-direction: row;
   margin-left: 41px;
   position: relative;
   bottom: 16px;
}

#navigation-line a:first-child {
    width: 27px;
    height: 20px;
    color: #dedede;
    border: 1px solid #c5c5c5;
}

#images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#artwork {
    width: 55px;
}

#webDesign {
    width: 76px;
}

#graphic {
    width: 91px;
}

#navigation-line a {
    height: 20px;
    font-size: 11.8px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-b";
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    margin-right: 10px;
}

#navigation-line a:hover {
    background-color: #141518;
}

.images-line {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

#webGrap {
    display: none;
}

#webGrapMid {
    display: none;
}

#artGrap {
    display: none;
}

#webAll {
    display: flex;
}

#artAll {
    display: flex;
}

.images-line a {
    width: 220px;
    height: 187px;
    margin-top: 3px;;
    margin-right: 20px;
    margin-bottom: 17px;
}

.images-line a:hover {
    width: 220px;
    height: 187px;
    margin-top: 3px;;
    margin-right: 20px;
    margin-bottom: 17px;
    box-shadow: 0 0 10px white;
}

#aboutUs {
    width: 1020px;
    height: 729px;
    background-color: #f2f2f2;
    border-bottom: 5px solid #ffffff;
}

h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    font-weight: 900;
    text-align: justify;
    padding-left: 40px;
    padding-top: 68px;
}

#aboutUs p {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    padding-left: 40px;
    padding-top: 27px;
}

#members {
    display: flex;
    flex-direction: row;
    margin-left: 38px;
    margin-top: 47px;
}

.member {
    margin-right: 16px;
}

h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-bold";
    font-weight: 900;
    text-align: justify;
    margin-top: 12px;
    margin-left: 1px;
}

#desmondH {
    position: relative;
    bottom: 1px;
}

#desmondP {
    width: 302px;
    position: relative;
    bottom: 1px;
}

#scolaraH {
    position: relative;
    bottom: 1px;
    right: 1px;
}

#scolaraP {
    width: 302px;
    position: relative;
    bottom: 1px;
}

.information {
    width: 302px;
    height: 65px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-b";
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
    margin-left: 1px;
}

#desmond {
    position: relative;
    right: 1px;
}

.social {
    margin-left: 2px;
}

.social a {
    margin-right: 2px;
}

#desmondA {
    position: relative;
    bottom: 1px;
    right: 1px;
}

#scolaraA {
    position: relative;
    bottom: 1px;
    right: 2px;
}

#form {
    width: 1020px;
    height: 649px;
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b;
}

#get {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato-bold";
    font-weight: 900;
    text-align: justify;
    margin-left:40px;
    padding-top: 68px;

}

#form p {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin-left: 40px;
    padding-top: 27px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 31px;
}

#form--input {
    display: flex;
    flex-direction: row;
}

#send {
    width: 100px;
    height: 30px;
    border: 1px solid #F06C64;
    border-radius: 5px;
    background-color: #d6564f;
    box-shadow: 0 0 10px #9b302b;
    margin-left: 500px;
    margin-top: 10px;
    font-family: "Lato-b";
    color: #eb9dc4;
}

#send:hover {
    font-size: 16px;
    box-shadow: 0 0 20px #9b302b;
}

.formText {
    width: 604px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #d6564f;
    background-color: #d6564f;
    margin-left: 40px;
    margin-top: 16px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato-b";
    font-weight: 400;
    text-align: justify;
    opacity: 1; 
    padding-left: 13px;
}

#formComments {
    width: 604px;
    height: 198px;
    border-radius: 5px;
    border: 1px solid #d6564f;
    background-color: #d6564f;
    margin-left: 40px;
    margin-top: 16px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato-b";
    font-weight: 400;
    text-align: justify;
    opacity: 1; 
    padding-left: 13px;
}

::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato-b";
    font-weight: 400;
    text-align: justify;
    opacity: 1; 
    position: relative;
    bottom: 1px;
  }

  #formComments::placeholder {
    position: relative;
    bottom: 84px;
  }

  #contact {
      margin-left: 20px;
      margin-top: 1px;
  }

  #contactInfo {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato-b";
    font-weight: 900;
    text-align: justify;
    margin-top: 46px;
    margin-left: 1px;
  }

  #contact p, .contacts {
    width: 300px;
    height: 108px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-left: 0px;
    padding-top: 10px;
  }

  .contacts {
      position: relative;
      left: 8px;
      line-height: 21px;
  }

  #location {
    padding-left: 4px;
    position: relative;
    left: 0px;
    top: 1px;
  }

  #phoneNumb {
    position: relative;
    left: 2px;
    top: 1px;
  }

  #mail {
    position: relative;
    left: 1px;
    top: 2px;
  }

  #mailText {
    position: relative;
    left: 7px;
    top: 1px;
  }

  #footer {
    width: 1020px;
    height: 78px;
    background-color: #2d303a;
    display: flex;
    flex-direction: row;
  }

  #footer--icon {
    margin-left: 42px;
    padding-top: 31px;
  }

  #social {
    padding-top: 21px;
    position: relative;
    left: 693px;
  }

  #social a {
    margin-right: 2px;
  }

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    src: url(./assets/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato-b";
    font-style: normal;
    font-weight: normal;
    src: url(./assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: "Lato-bold";
    font-style: normal;
    font-weight: normal;
    src: url(./assets/fonts/Lato-Black.ttf);
}

@keyframes hover {
    from {background-color: #f06c64;}
    to {background-color: rgb(245, 238, 238);}
  }

  @keyframes menu {
    from {font-size: 11.7px;}
    to {font-size: 13px;}
  }

  @keyframes sliderOn {
    from {background-color: #f06c64;}
    to {background-color: #648BF0;}
  }

  @keyframes sliderBack {
    from {background-color: #648BF0;}
    to {background-color: #f06c64;}
  }

  @keyframes verticalPhOn {
    from {right: 50%;
        z-index: 1;
    }
    to {right: 0%;
        z-index: 3;
    }
  }

  @keyframes verticalScreenOn {
    from {
        right: 52%;
    }
    to {

        right: 1%;
    }
  }

  @keyframes verticalPhBack {
    from {
        right: 0%;
        z-index: 3;
    }
    to {
        right: 50%;
        z-index: 1;
    }
  }

  @keyframes verticalScreenBack {
    from {
        right: 1%;
    }
    to {
        right: 52%;
    }
  }

  @keyframes horizontalPhOn {
    from {left: 40%;}
    to {left: 0%;}
  }

  @keyframes horizontalScreenOn {
    from {
        left: 38%;
        right: 0;
        z-index: 4;
    }
    to {
        left: 0%;
        right: 3%;
        z-index: 2;
    }
  }

  @keyframes horizontalPhBack {
    from {left: 0%;}
    to {left: 40%;}
  }

  @keyframes horizontalScreenBack {
    from {
        left: 0%;
        right: 3%;
        z-index: 2;
    }
    to {
        left: 38%;
        right: 0;
        z-index: 4;
    }
  }

  @media (max-width: 768px) {
    #wrapper {
        max-width: 768px;   
    }
    
    #header {
        max-width: 768px;
        margin-left: 0px;
    }

    .menu {
        left: 175px;
    }
    
    #slider {
        padding-top: 95px;
        max-width: 768px;
        height: 447px;
    }
    
    #sliderLeft {
        top: 302px;
        right: 690px;
    }
    
     #vertical {
        margin-top: 45px;
        margin-bottom: 45px;
        width: 183px;
        height: 365px;
        top: 95px;
    }
    
    #verticalScreen {
        width: 147px;
        height: 257px;
        margin: auto;
        top: 95px;
        margin-top: 92px;
        margin-bottom: 92px;
    }

    #verticalScreen2 {
        width: 142px;
        height: 252px;
        top: 95px;
        margin-top: 94px;
        margin-bottom: 94px;
    }
    
    #horizontal {
        height: 183px;
        width: 365px;
        left: 280px;
        top: 95px;
        margin-top: 130px;
        margin-bottom: 130px;
    }
    
    #horizontalScreen {
        height: 145px;
        width: 258px;
        top: 95px;
        margin-top: 140px;
        margin-bottom: 140px;
    }
    
    #horizontalScreen2 {
        height: 145px;
        width: 258px;
        top: 95px;
        margin-top: 140px;
        margin-bottom: 140px;
    }

    #sliderRight {
        top: 302px;
        left: 693px;
    }
    
    #ourService {
        max-width: 768px;
        height: 620px;
    }
    
    #ourService--service {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 70px;
    }
    
    #service {
        font-size: 30px;
        line-height: 18px;
        color: #666d89;
        font-family: "Lato-bold";
        font-weight: 900;
        text-align: justify;
        margin-left: 40px;
        padding-top: 68px;
    }
    
    #service--text {
        width: 690px;
        height: 57px;
        font-size: 18px;
        line-height: 30px;
        color: #767e9e;
        font-family: "Lato";
        font-weight: 300;
        text-align: justify;
        padding-left: 40px;
        padding-top: 27px;
        letter-spacing: 0.15px;
    }
    
    #pen {
        width: 62px;
        height: 61px;
    }
    
    .ourService--block {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        margin-right: 30px;
        height: 124px;
        width: 300px;
    }
    
    .ourService--block-text{
        flex-direction: column;
        margin-left: 19px;
    }
    
    .ourService--block-text p:first-child {
        font-size: 18px;
        line-height: 18px;
        color: #666d89;
        font-family: "Lato-bold";
        font-weight: 900;
        text-align: justify;
    }
    
    .ourService--block-text p:last-child {
        width: 219px;
        height: 128px;
        font-size: 12px;
        line-height: 22px;
        color: #767e9e;
        font-family: "Lato-b";
        font-weight: 400;
        text-align: justify;
        padding-top: 10px;
    }
    
    #resp {
        width: 62px;
        height: 61px;
    }
    
    #inov {
        width: 61px;
        height: 61px;
    }
    
    #supp {
        width: 61px;
        height: 61px;
    }
    
    #love {
        width: 62px;
        height: 61px;
    }
    
    #feel {
        width: 62px;
        height: 61px;
    }
    
    #inov--design p:first-child {
        position: relative;
        left: 1px;
    }
    
    #supp--design p:first-child {
        position: relative;
        left: 1px;
    }
    
    #love--design p:first-child {
        position: relative;
        left: 2px;
    }
    
    #feel--design p:first-child {
        position: relative;
        left: 2px;
    }
    
    #portfolio {
        max-width: 768px;
        height: 1050px;
    }
    
    #portfolio p {
        width: 680px;
        height: 90px;
        padding-left: 0px;
    }

    #navigation-line {
        width: 768px;
    }

    .images-line {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 40px;
    }
    
    #webGrap {
        display: none;
        flex-wrap: wrap;
    }
    
    #webGrapMid {
        display: none;
        flex-wrap: wrap;
    }
    
    #artGrap {
        display: none;
        flex-wrap: wrap;
    }
    
    #webAll {
        display: flex;
        flex-wrap: wrap;
    }
    
    #artAll {
        display: flex;
        flex-wrap: wrap;
    }

    .images-line a {
        width: 220px;
        height: 187px;
        margin-top: 3px;;
        margin-right: 10px;
        margin-bottom: 17px;
    }
    
    .images-line a:hover {
        width: 220px;
        height: 187px;
        margin-top: 3px;;
        margin-right: 10px;
        margin-bottom: 17px;
        box-shadow: 0 0 10px white;
    }
    
    #aboutUs {
        max-width: 768px;
        height: 729px;
    }

    #aboutUs p {
        width: 680px;
    }

    .member > img {
       width: 219px;
    }
    
    #desmondP {
        width: 219px;
    }
    
    #scolaraP {
        width: 219px;
    }
    
    .information {
        width: 219px;
        height: 80px;
    }

    .social {
        position: relative;
        right: 35px;
    }

    #desmondA {
        position: relative;
        right: 35px;
    }

    #scolaraA {
        position: relative;
        right: 35px;
    }

    .social a {
        margin-right: 2px;
        text-align: left;
    }
    
    #form {
        max-width: 768px;
        height: 649px;
    }
    
    #form p {
        width: 687px;
        text-align: left;
        margin-left: 0px;
    }
    
    .formText {
        width: 440px;
        margin-left: -60px;
    }
    
    #formComments {
        width: 440px;
        margin-left: -60px;
    }

    #send {
        position: relative;
        right: 110px;
    }
    
      #contact {
          margin-left: -80px;
          margin-top: 1px;
      }
    
      #contact p, .contacts {
        width: 220px;
        height: 140px;
        margin-left: 0px;
      }
    
      .contacts {
          position: relative;
          left: 0px;
          line-height: 21px;
      }

      #adress {
          position: relative;
          right: 46px;
      }
    
      #location {
        padding-left: 0px;
        position: relative;
        left: 0px;
        top: 0px;
        margin-right: 6px;
      }
    
      #phoneNumb {
        position: relative;
        left: -10px;
        top: 0px;
      }
    
      #mail {
        position: relative;
        left: -9px;
        top: 0px;
      }
    
      #mailText {
        position: relative;
        left: 0px;
        top: 0px;
      }
    
      #footer {
        max-width: 768px;
        height: 78px;
        background-color: #2d303a;
        display: flex;
        flex-direction: row;
      }
    
      #footer--icon {
        display: none;
      }
    
      #social {
        padding-top: 21px;
        position: relative;
        left: 300px;
        right: 0;
      }
    
      #social a {
        margin-right: 2px;
      }
  }


  @media (max-width: 375px) {
    #wrapper {
        max-width: 375px;   
    }
    
    #header {
        max-width: 375px; 
        margin-left: 0px;
        display: flex;
        flex-direction: row;
    }

    h1 {
        position: relative;
        left: 50px;
    }

    #menu-button {
        width: 80px;
        height: 80px;
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        z-index: 5;
        display: block;
    }

    #menu-button > p {
        font-size: 50px;
        color: white;
    }

    #menu-button:hover {
        border-top: 6px solid white;
        border-bottom: 6px solid white;
    }

    #hidden {
        display: none;
    }

    .menu a {
        font-size: 20px;
        line-height: 30px;
        padding-top: 20px;
        padding-left: 40px;
    }

    .menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 278px;
        position: relative;
        left: 0px;
        bottom: 1px;
        height: 600px;
        background-color: #2d303a;
        z-index: 4;
    }

    .menu a:hover {
        font-size: 23px;
    }
    
    #slider {
        padding-top: 95px;
        max-width: 375px; 
        height: 221px;
    }
    
    #sliderLeft {
        top: 192px;
        right: 330px;
        z-index: 3;
    }
    
     #vertical {
        width: 83px;
        height: 165px;
        margin-top: 30px;
        margin-bottom: 30px;
        top: 100px;
        right: 200px;
    }

    @keyframes verticalPhOn {
        from {right: 200px;
            left: 0;
        }
        to {right: 0px;
            left: 10px;
        }
      }

      @keyframes verticalPhBack {
        from {left: 10px;
            right: 0px;
        }
        to {left: 0;
            right: 200px;
        }
      }
    
    #verticalScreen {
        width: 63px;
        height: 115px;
        margin-top: 52px;
        margin-bottom: 52px;
        top: 100px;
        right: 207px;
    }

    @keyframes verticalScreenOn {
        from {
            right: 207px;
        }
        to {
            right: -3px;
        }
      }

      @keyframes verticalScreenBack {
        from {
            right: -3px;
        }
        to {
            right: 207px;
        }
      }
    
    #verticalScreen2 {
        width: 63px;
        height: 115px;
        margin-top: 52px;
        margin-bottom: 52px;
        top: 100px;
        right: -3px;
    }
    
    #horizontal {
        height: 83px;
        width: 165px;
        margin-top: 70px;
        margin-bottom: 70px;
        left: 100px;
        top: 100px;
    }
    
    #horizontalScreen {
        height: 65px;
        width: 115px;
        margin-top: 75px;
        margin-bottom: 75px;
        left: 89px;
        top: 100px;
    }
    
    #horizontalScreen2 {
        height: 65px;
        width: 115px;
        margin-top: 75px;
        margin-bottom: 75px;
        top: 100px;
        right: 8px;
    }

    @keyframes horizontalPhOn {
        from {left: 100px;}
        to {left: 0px;}
      }
    
      @keyframes horizontalScreenOn {
        from {
            left: 89px;
            right: 0;
        }
        to {
            left: 0px;
            right: 8px;
        }
      }
    
      @keyframes horizontalPhBack {
        from {left: 0px;}
        to {left: 100px;}
      }
    
      @keyframes horizontalScreenBack {
        from {
            left: 0px;
            right: 8px;
        }
        to {
            left: 89px;
            right: 0;
        }
      }
    
    #sliderRight {
        top: 192px;
        left: 320px;
    }
    
    #ourService {
        max-width: 375px; 
        height: 1040px;
    }
    
    #ourService--service {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 50px;
        width: 314px;
    }
    
    #service {
        font-size: 30px;
        line-height: 18px;
        color: #666d89;
        font-family: "Lato-bold";
        font-weight: 900;
        text-align: justify;
        margin-left: 30px;
        padding-top: 38px;
    }
    
    #service--text {
        width: 314px;
        height: 177px;
        font-size: 18px;
        line-height: 30px;
        color: #767e9e;
        font-family: "Lato";
        font-weight: 300;
        text-align: justify;
        padding-left: 30px;
        padding-top: 27px;
        letter-spacing: 0.15px;
    }
    
    #pen {
        width: 62px;
        height: 61px;
    }
    
    .ourService--block {
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        margin-right: 0px;
        height: 124px;
        width: 314px;
    }
    
    .ourService--block-text{
        flex-direction: column;
        margin-left: 19px;
    }
    
    #portfolio {
        max-width: 375px; 
        height: 750px;
    }
    
    #title {
       padding-top: 40px;;
       padding-left: 30px;
    }

    #portfolio p {
        width: 315px;
        height: 140px;
        padding-left: 5px;
    }

    #images {
        display: inline-block;
    }

    #navigation-line {
        margin-left: 30px;
    }

    .images-line {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 30px;
    }
    
    .images-line a {
        width: 150px;
        height: 107px;
        margin-top: 3px;;
        margin-right: 10px;
        margin-bottom: 17px;
    }

    .images-line a img {
        width: 150px;
        height: 107px;
    }
    
    .images-line a:hover {
        width: 150px;
        height: 107px;
        margin-top: 3px;;
        margin-right: 10px;
        margin-bottom: 17px;
        box-shadow: 0 0 10px white;
    }
    
    #aboutUs {
        max-width: 375px; 
        height: 1690px;
    }

    h2 {
        padding-left: 30px;
    }

    #aboutUs p {
        width: 315px;
        height: 145px;
        position: relative;
        right: 20px;
    }

    #members {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .member > img {
       width: 315px;
    }

    .member {
        margin-left: -20px;
    }

    h3 {
        margin-left: 10px;
    }
    
    #desmondP {
        width: 315px;
        height: 50px;
    }
    
    #scolaraP {
        width: 315px;
        height: 50px;
    }
    
    .information {
        width: 315px;
        height: 50px;
    }

    .social {
        position: relative;
        right: 80px;
        height: 60px;
    }

    #desmondA {
        position: relative;
        right: 80px;
        height: 60px;
    }

    #scolaraA {
        position: relative;
        right: 80px;
        height: 60px;
    }

    .social a {
        margin-right: 2px;
        text-align: left;
    }
    
    #form {
        max-width: 375px; 
        height: 969px;
    }

    #get {
        margin-left: 30px;
    }
    
    #form p {
        width: 314px;
        height: 150px;
        text-align: left;
        margin-left: 0px;
    }

    #form--input {
        flex-direction: column;
    }
    
    .formText {
        width: 300px;
        margin-left: 0px;
    }
    
    #formComments {
        width: 300px;
        margin-left: 0px;
    }

    #send {
        margin-left: 144px;
        width: 310px;
        margin-top: 20px;
    }
    
      #contact {
          margin-left: 30px;
          margin-top: 1px;
      }
    
      #contact p, .contacts {
        width: 314px;
        height: 100px;
        margin-left: 0px;
        position: relative;
        right: 10px;
      }
    
      .contacts {
          position: relative;
          left: 0px;
          line-height: 21px;
      }

      #adress {
          text-align: left;
          position: relative;
          right: 0px;
          margin-left: 20px;
      }
    
      #location {
        padding-left: 0px;
        position: relative;
        right: 20px;
        top: 0px;
        margin-right: 6px;
      }
    
      #footer {
        max-width: 375px; 
        height: 76px;
        background-color: #2d303a;
        display: flex;
        flex-direction: row;
      }
    
      #social {
        padding-top: 21px;
        position: relative;
        left: 110px;
        right: 0;
      }
    
      #social a {
        margin-right: 2px;
      }
  }
  